@model NetDuino.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    if (Model.Arduinos.Count == 0)
    {
        <div>@Html.ActionLink("Click here to add new device.", "Create")</div>
    }
    else
    {
        <div class="dashboard-grid">
            @foreach (var item in Model.Arduinos)
            {
                @Html.ActionLink(item.Name, "Display", new { authkey = item.AuthKey }, new { @class = "dashboard-block" })
            }
        </div>
    }
}