@model NetDuino.Models.LabelComponent

<div class="component-header">
    <span class="component-label">@Model.ComponentName</span>
    <span class="slider-label">@Model.GetValue("SliderValue")</span>
    <a class="component-ewdit" href="#"><i class=" fa fa-pencil fa-1" aria-hidden="true"></i></a>
</div>  