body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*background-color: #f7f7f7;*/
    background-color: #27353f;
    color: #f7f7f7;
}

.navbar {
    background-color: #1d282f;
    padding: 0.5em;
    margin: 0;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-auto-flow: column;
}

.navbar-home {
    font-size: 1.5em;
    font-style: normal;
    text-decoration: none;
}

a, a :visited :hover {
    text-decoration: none;
    color: #f7f7f7;
}

.navbar > div {
    padding: 0.5em;
}

.navbar-home {
}


.top-menu-outer {

}

.nav-login {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    grid-auto-rows: inherit;
}

.nav-login > a {
    padding: 0.5em;
    align-self: center;
}

.grid-stack-item {
    background-color: #E37222;
}

#display-container {
    margin: 1rem;
    display: grid;
    grid-template-columns: 8fr 1fr;
}

.component-menu {
    background-color: #008B95;
    padding: 1em;
}

.dashboard-grid {
    display:grid;
    grid-template-columns: repeat(4, 1fr);

}

.dashboard-block {
    background-color: #E37222;
    margin: 1rem;
    padding: 1em;
}

.item-values {

}

.component-header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    padding-bottom:0.5em;
}
.component-label {
    font-size:larger;
    font-weight:600; 
}

.component-slider {
    width:100%;
}

.component-edit {
    padding-left: 1rem;
    align-self:center;
}
.component-edit :hover {
    color: #008B95;
}

.slider-label {
    align-self:center;
    font-size:large;
}

.chart {
    background-color: #f7f7f7;
    color: white;
}