body {
    margin: 0px;
    background-color: #303233;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 1em;
    grid-auto-flow: column;
}

.navbar-home {
    font-size: 1.5em;
    font-style: normal;
    text-decoration: none;
}

a, a :visited :hover {
    text-decoration: none;
    color: white;
}

.navbar > div {
    padding: 0.5em;
}

.navbar-home {
}


.top-menu-outer {
    background-color: #191A1B;
    padding: 0.5em;
    margin: 0;
}

.nav-login {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    grid-auto-rows: inherit;
}

.nav-login > a {
    padding: 0.5em;
    align-self: center;
}

.grid-stack-item {
    background-color: dimgray;
}

.display-container {
    display: grid;
    grid-template-columns: 8fr 1fr;
}

.component-menu {
    background-color: #6E6F70;
    padding: 1em;
}
